body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.background {
    background-image: url("img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center_contentter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.my_work {
    margin: 50px;
}
.my_work .row {
    margin: 30px;
}

.my_work .row h4 {
    margin-bottom: 50px;
}

.footer_table{
    width: 100%;
    position: absolute;
    background-color: rgb(15, 15, 15);
}

.contact{
    background-color: gray;
}